<div class="container text-center">


    <div class="row mt-5 shadow">
        <div class="col">

            <h1>NAME</h1>
            <form action="..." method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Dropdown</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Ação</a>
                            <a class="dropdown-item" href="#">Outra ação</a>
                            <a class="dropdown-item" href="#">Algo mais aqui</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Link isolado</a>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="https://youtube.com/..."
                        aria-label="Input text com botão dropdown">
                </div>

                <button class="btn btn-primary">Download</button>
            </form>

        </div>
    </div>

</div>